
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}

.wrapper {
    font-family:'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1rem;
    box-shadow: 0 0 20px 5px rgba(63, 154, 133, 0.2);
}

.img {
    background-image: url("img/sirvagyaSon.JPG");
    background-size: cover;
    background-repeat:no-repeat;
    width: 350px;
    height: 500px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1.5pt solid blck
}

.desc {
    background: white;
    width: 350px;
    height: 530px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1.5pt solid black;
}

.father-message {
    font-size: 1rem;
}


#html-wrapper {
    position: absolute;
    z-index: 1;
    box-shadow: 0 0 20px 5px rgba(63, 154, 133, 0.2);
}
